.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.item-1 {
  background-image: url("carousel/img/html.jpg") ;
}
.item-2 {
  background-image: url("carousel/img/js.jpg") ;
}
.item-3 {
  background-image: url("carousel/img/react.jpg") ;
}